* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

textarea:focus, input:focus {
    outline: 2px solid #e68d19;
}

body {
    display: flex;
    flex-direction: column;
    
    max-width: 36rem;
    height: 100vh;
    margin: 0 auto;
    padding: .5rem 1.5rem;

    font-family: 'Roboto', sans-serif;
    background-color: #e5e5e5;
}



header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin-bottom: 2rem;}

header .logo {
    font-size: 3rem;
    margin-bottom: 1rem;
}

header ul {
    display: flex;
    align-items: center;
}

header ul a {
    cursor: pointer;
    font-size: 1.2rem; 

    padding: .5rem;
    border-bottom: 1px solid transparent;
    transition: all .3s;
}

header ul li a.active {
    color:#e68d19;
}

header ul li a:hover {
    color:#ffcc4d;
    border-color: #ffcc4d;
}



#modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    padding: 0 1rem;
        
    z-index: 1;

    background: hsla(0, 0%, 0%, .6);

    visibility: hidden;
    opacity: 0;
    transition: all .3s;
}

#modal.modal-open {
    opacity: 1;
    visibility: visible;
}

#modal .content {
    max-width: 36rem; 
    margin: 0 auto;

    transform: translateY(calc(50vh - 50%));

    padding: 1rem;
    border-radius: 6px;
    background-color: #aaaaaa;
    box-shadow: 5px 5px 10px #777777;
}

#modal .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
}

#modal .title {
    color: black;
    font-size: 1.7rem;
}

#modal .button {
    cursor: pointer;

    color: #633609;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;

    min-width: 8rem;
    padding: .25rem;

    border: none;
    border-radius: 6px;
    
    background:#ffa64d;
    box-shadow: .1rem .1rem .3rem #777;
    transition: all .3s;
}

#modal .button:hover {
    background:#ff9100;
}

#modal textarea {
    resize: none;
    border: 1px solid #ffa64d;

    font-size: 1.2rem;

    display: block;
    width: 100%;
    height: 80px;
    border-radius: 6px;
    padding: .3rem .5rem;
}

#modal .button {
    font-size: 1.2rem;
    margin-top: .8rem;
    padding: .3rem .5rem;
}



.postList {
    margin: .5rem 0;
    padding: 1rem 0;
    border-top: 1px solid #00000033;
}

.postItem {
    overflow-x: hidden;
    position: relative;
    display: flex;
    padding: 1.5rem 1rem;
    border-radius: 5px;
    background: #d9d9d9;
    box-shadow: 5px 5px 10px #cccccc;
    margin-bottom: 1.5rem;

    transition: all .2s;
}

.postItem:hover {
    background: hsl(34, 70%, 70%);
    transform: scale(1.06);
    box-shadow: 5px 5px 10px hsl(34, 70%, 80%);
}

.postItem .button-close {
    position: absolute;
    top: .5rem;
    right: .5rem;
    
    visibility: hidden;
}

.postItem:hover .button-close{
    visibility: visible;
}

.postAuthorAvatar {
    width: 50px;
    height: 50px;
    margin-right: 1rem;
    padding: 2px;
    border-radius: 100px;
    border: 2px solid purple; 
    background-color: white;
}

.postAuthorName {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: .5rem;
}

.postMessage {
    color: #00000099;
    font-size: 1rem;
}


/* footer */


footer {
    padding: 1rem;
    text-align: center;
    margin-top: auto;
}

footer p {
    font-size: 12px;
    font-weight: 500;

    padding: 1rem;
    margin-top: 1rem;

    opacity: .6;
    transition: opacity .5s;
}

footer p:hover {
    opacity: 1;
}

footer div.iconsCredits {
    opacity: .4;
    font-size: 8px;
    font-weight: 500;
}

.button-close {
    cursor: pointer;
    width: 2em;
    height: 2em;
    padding: .25rem;
    background: transparent url("./assets/icons/png/001-close.png") center/1.5em no-repeat;
    border-radius: .375rem;
    border: 0;
    opacity: .5;
    transition: opacity .5s;
}

.button-close.trash {
    background-image: url("./assets/icons/png/002-trash.png");
}

.button-close:hover {
    opacity: 1;
}