/*
    Olá Sr, o CSS dessa aplicação encontra-se num estado de
    porcaria total, mas saiba que minha intenção é de uma pessoa com
    bom coração e tenho a intenção de deixa-lo belo em breve. <3
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --backgroundColor: #222831;
    --primaryColor: #ffcc4d;
    --primaryLightColor: #FF9F45;
    --secondaryColor: #FF5722;
    --fontColor: #EEEEEE;
    --fontDarkColor: #DDDDDD;
    --fontHoverColor: #FF5722;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

textarea:focus, input:focus {
    outline: 2px solid var(--primaryLightColor);
}

body {
    color: var(--fontColor);
    display: flex;
    flex-direction: column;
    
    max-width: 36rem;
    height: 100vh;
    margin: 0 auto;
    padding: .5rem 1.5rem;

    font-family: 'Roboto', sans-serif;
    background: var(--backgroundColor);
}



header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin-bottom: 2rem;}

header .logo {
    font-size: 3rem;
    margin-bottom: 1rem;
}

header ul {
    display: flex;
    align-items: center;
}

header ul a {
    cursor: pointer;
    font-size: 1.2rem; 

    padding: .5rem;
    border-bottom: 1px solid transparent;
    transition: all .3s;
}

header ul li a.active {
    color:var(--primaryColor);
}

header ul li a:hover {
    color:var(--fontHoverColor);
    border-color: var(--fontHoverColor);
}



#modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    padding: 0 1rem;
        
    z-index: 1;

    background: #00000099;

    visibility: hidden;
    opacity: 0;
    transition: all .3s;
}

#modal.modal-open {
    opacity: 1;
    visibility: visible;
}

#modal .content {
    max-width: 36rem; 
    margin: 0 auto;
    padding: 1.2rem;
    border-radius: 8px;

    background: #CCC;
    box-shadow: 5px 5px 10px #AAA;
    transition: all .6s;
}

#modal.modal-open .content{
    transform: translateY(calc(50vh - 50%));
}

#modal .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

#modal .title {
    color: black;
    font-size: 1.5rem;
    text-transform: uppercase;
}

#modal textarea {
    resize: none;
    border: 1px solid #777;

    font-size: 1.2rem;

    display: block;
    width: 100%;
    height: 6.5rem;
    border-radius: 6px;
    
    padding: .3rem .5rem;
    margin-bottom: 1rem;

    transition: border-color .2s;
}

#modal .button {
    cursor: pointer;

    color: #000000;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;

    min-width: 8rem;
    padding: .25rem;

    border: none;
    border-radius: 8px;
    
    background:#FFF;
    box-shadow: .02rem .05rem .3rem #555;
    transition: all .2s;
}

#modal .button:hover {
    background:#BBB;
    box-shadow: -.02rem -.05rem .3rem #555;
}



.postList {
    margin: .5rem 0;
    padding: 1rem 0;
    border-top: 1px solid #FFFFFF66;
}

.postItem {
    cursor: pointer;

    color: #000;
    position: relative;
    display: flex;
    padding: 1.5rem 1rem;
    border-radius: 5px;
    background: #DDD;
    box-shadow: 3px 3px 10px #BBB;
    margin-bottom: 1.5rem;

    transition: all .2s;
}

.postItem:hover {
    color: #000;
    background: hsl(34, 70%, 70%);
    transform: scale(1.06);
    box-shadow: 3px 3px 10px hsl(34, 70%, 80%);
}

.postItem .button-close {
    position: absolute;
    top: .5rem;
    right: .5rem;
    
    visibility: hidden;
}

.postItem:hover .button-close{
    visibility: visible;
}

.postAuthorAvatar {
    width: 50px;
    height: 50px;
    margin-right: 1rem;
    padding: 2px;
    border-radius: 100px;
    border: 2px solid purple; 
    background-color: white;
}

.postItem div {
    max-width: 100%;
    overflow-x: hidden;
}

.postAuthorName {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: .5rem;
}

.postMessage {
    display: block;

    opacity: .6;
    font-size: 1rem;
}


/* footer */


footer {
    padding: 1rem;
    text-align: center;
    margin-top: auto;
}

footer p {
    font-size: 12px;
    font-weight: 500;

    padding: 1rem;
    margin-top: 1rem;

    opacity: .6;
    transition: opacity .5s;
}

footer p:hover {
    opacity: 1;
}

footer div.iconsCredits {
    opacity: .4;
    font-size: 8px;
    font-weight: 500;
}

.button-close {
    cursor: pointer;
    width: 2em;
    height: 2em;
    padding: .25rem;
    background: transparent url("./assets/icons/png/001-close.png") center/1.5em no-repeat;
    border-radius: .375rem;
    border: 0;
    opacity: .5;
    transform: scale(0.8);
    transition: all 0.3s ease;
}

.button-close.trash {
    background-image: url("./assets/icons/png/002-trash.png");
}

.button-close:hover {
    opacity: 1;
    transform: scale(1);
}