header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    padding: 1rem 0;
    margin-bottom: 1rem;
}

header .logo {
    font-size: 3rem;
    color: var(--fontColor);
}

header nav ul {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: .5rem;
    padding: 1rem 0;
}

header nav ul li {
    line-height: 0px;
}

header nav ul li a.button {
    font-size: 1.2rem; 
    transform: scale(1);
}

header nav ul li a.button:hover {
    transform: scale(1.1);
}